@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
body {
  font-family: "Poppins" sans-serif;
  background-color: #abc4aa;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  margin-bottom: 1em;
}
.container {
  height: 700px;
  width: 700px;
  background-color:chocolate
}
